<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  <!-- 引入 _include 資料夾內的 head.html, 當成此頁的 <head>...</head> -->

  <body>

    {% include sidebar.html %}
    <!-- 引入 _include 資料夾內的 sidebar.html 內容, 以開啟 sidebar -->

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>
